.container {
    background-color: brown;
    width: 800px;
    height: 650px;
}





.content {
    background-color: white;
    width: 900px;
    height: 230px;
}

.content-grey {
    background-color: grey;
    width: 100%;
    height: 140px;
}

.content-2 {
    background-color: white;
    width: 900px;
    height: 230px;
    border-radius: 20px;
}

.text-purple {
    color: rgb(161, 8, 54);
    font-weight: bold;
}

.btn-1 {
    background-color: grey important;
    color: rgb(161, 8, 54) important;
}

.h-3 {
    color: white;
    font-weight: bold;
}

.p-1 {
    color: black;
    font-weight: bold;
}